
<div  class="jumbotron text-center hoverable p-3">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3 align-self-center">

    <!-- Grid column -->

    <div class="col-md-8 text-md-left ml-3 mt-3 align-self-center">

      <h6 class="h6 pb-1 green-text"><i class="fas fa-water"></i> {{}} </h6>
      <small class="text-muted">
        <span>{{}}</span>
      </small>
      <p> <span  class="font-weight-normal" > Cours d'eau concernés : </span>   {{}}</p>
      <p> <span  class="font-weight-normal" > Communes touchées : </span> {{}}</p>
      <a type="button" mdbBtn color="info" href="#/inondation-more/{{}}" mdbWavesEffect>{{ "Voir plus"  }}</a><br><br>
    </div>

  </div>
  <!-- Grid row -->

  </div>

</div>



<router-outlet></router-outlet>
