<div class="container">
  <h1 class="text-center tableau">Les expositions</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Date début</th>
      <th class="text-center">Date fin</th>
      <th class="text-center">Tarif</th>
      <th class="text-center">Age limite</th>
      <th class="text-center">Musée</th>
      <th class="text-center">Thème</th>
    </tr>
    <tr *ngFor="let exposition of resultatExposition.exposition">
      <td>
        <span>{{exposition.nom}}</span>
      </td>
      <td>
        <span>{{exposition.date_debut}}</span>
      </td>
      <td>
        <span>{{exposition.date_fint}}</span>
      </td>
      <td >
        <p >{{exposition.date_fint}}</p>
      </td>
      <td >
        <p >{{exposition.tranche_age}}</p>
      </td>
      <td >
        <p >{{exposition.musee_id}}</p>
      </td>
      <td >
        <p>{{exposition.theme_id}}</p>
      </td>
    </tr>
  </table>
</div>

<div class="container tableau">
  <h1 class="text-center ">Les musées</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Adresse</th>
      <th class="text-center">Ville</th>
      <th class="text-center">Code postal</th>
      <th class="text-center">Horaires</th>
      <th class="text-center">Tarif reduit</th>
      <th class="text-center">Tarif plein</th>
    </tr>
    <tr *ngFor="let musee of resultatMusee.musee">
      <td>
        <span>{{musee.nom}}</span>
      </td>
      <td>
        <span>{{musee.adresse}}</span>
      </td>
      <td>
        <span>{{musee.ville}}</span>
      </td>
      <td >
        <p >{{musee.code_postal}}</p>
      </td>
      <td >
        <p >{{musee.horaires}}</p>
      </td>
      <td >
        <p >{{musee.tarif_reduit}}</p>
      </td>
      <td >
        <p>{{musee.tarif_plein}}</p>
      </td>
    </tr>
  </table>
</div>

<div class="container tableau">
  <h1 class="text-center">Les Thèmes</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom Theme</th>
    </tr>
    <tr *ngFor="let theme of resultatTheme.response">
      <td >
        <span>{{theme.nom}}</span>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
