<div class="container">
  <h1 class="text-center tableau">Les expositions</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Date début</th>
      <th class="text-center">Date fin</th>
      <th class="text-center">Tarif</th>
      <th class="text-center">Age limite</th>
      <th class="text-center">Musée</th>
      <th class="text-center">Thème</th>
    </tr>
    <tr >
      <td>
        <span><a ></a></span>
      </td>
      <td>
        <span></span>
      </td>
      <td>
        <span></span>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p></p>
      </td>
    </tr>
  </table>
</div>

<div class="container tableau">
  <h1 class="text-center ">Les musées</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Date début</th>
      <th class="text-center">Date fin</th>
      <th class="text-center">Tarif</th>
      <th class="text-center">Age limite</th>
      <th class="text-center">Musée</th>
      <th class="text-center">Thème</th>
    </tr>
    <tr >
      <td>
        <span><a ></a></span>
      </td>
      <td>
        <span></span>
      </td>
      <td>
        <span></span>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p></p>
      </td>
    </tr>
  </table>
</div>

<div class="container tableau">
  <h1 class="text-center">Les Thèmes</h1>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Date début</th>
      <th class="text-center">Date fin</th>
      <th class="text-center">Tarif</th>
      <th class="text-center">Age limite</th>
      <th class="text-center">Musée</th>
      <th class="text-center">Thème</th>
    </tr>
    <tr >
      <td>
        <span><a ></a></span>
      </td>
      <td>
        <span></span>
      </td>
      <td>
        <span></span>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p ></p>
      </td>
      <td >
        <p></p>
      </td>
    </tr>
  </table>
</div>
{{function()}}

<router-outlet></router-outlet>
